h1{
  color: #6b4982;
}
.cabecera{
  display: flex;
  justify-content: space-evenly;
}
.cabecera ol{
  display: flex;
  justify-content: space-evenly;
  width:20rem;
  list-style:none;
  padding:none;
  text-align:center;
}
.cabecera li{
  padding: 1rem 0;
}
table{
  width:80%;
  border-collapse:collapse;
}
th{
  background-color: red;
}
td{
  background-color: green;
  border: 1px solid black;
  border-collapse:none;
  color:white;
}
th,td{
 text-align:center;
 width:3rem;
}
